{
    "log_level": "info",
    "pid_file": "/var/run/go-m17-relay/relay.pid",
    "log_file": "/var/log/go-m17-relay/relay.log",
    "relay_callsign": "RLY000001",
    "bind_address": "127.0.0.1:17000",
    "web_interface_address": "127.0.0.1:8080",
    "daemon_mode": true,
    "uuid": "",
    "call_home_enabled": true,
    "target_relays": [
        {
            "callsign": "RLY000002",
            "address": "127.0.0.1:17001"
        }
    ]
}